*
*/**
!src/FSharpLanguageServer/bin/Release/net5.0/osx.10.11-x64/publish
!src/FSharpLanguageServer/bin/Release/net5.0/win10-x64/publish
!src/FSharpLanguageServer/bin/Release/net5.0/linux-x64/publish
!src/FSharpLanguageServer/bin/Release/net5.0/assembly/README.md
!Icon512.png
!out/client/**
!syntaxes/**
!node_modules/**
